/* Add screen styles below */
a.active {
    font-weight: bold;
}

h1 {
    font-family: sans-serif;
    font-size: 90px;
}

button {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8px;
    font-size: 100px;

}

button:hover {
    background-color: red;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}